@font-face {
    font-family: customFont;
    src: url(./fonts/Norse-Bold.otf);
  }

html body{
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
}

.container, .logo{
    display: flex;
    flex-flow: row wrap;
}

.container {
    width: 100vw;
    height: 100vh;
}

/* hero section */

.logo {
    font-family: customFont;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 143, 166);
    opacity: 0.5;
    margin-top: 78vh;
    margin-bottom: 2vh;
    height: 15vh;
    gap: 10px;
}

.hero {
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
}

.logo img {
    height: 10vh;
    width: auto;
}

.logo h2 {
    color: white;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    color: rgb(245, 246, 250);
}

/* form section */

h3 {
    margin: 0;
}

.reminder {
    font-size: .4rem;
    opacity: 0.4;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
    background-color: rgb(113, 128, 147);
}

.form .info, .form .submit-section {
    padding: 0px 3vw;
}

.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2vw 3rem 2vw;
    background-color: rgb(220, 221, 225);
    opacity: 0.5;
}


form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-size: 1rem;
    width: 60vw;
}

label {
    position: relative;
    width: 15rem;
    margin-bottom: 15px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(209, 216, 224);
    font-size: .9rem;
}

input:focus {
    border: none;
    box-shadow: 4px 4px 5px rgb(209, 216, 224);
    outline: none;
}

input:invalid:focus {
    border: 2px solid rgb(255, 69, 100);
}

input:valid:focus {
    border: 2px solid rgb(32, 191, 107);
}

.error {
    font-size: .7rem;
    color: rgb(255, 69, 100);
    position: absolute;
}

.submit-section {
    margin-top: 2rem;
}

button[type='submit'] {
    padding: .8rem 1rem;
    font-size: 1rem;
    background-color: rgb(75, 101, 132);
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type=submit]:hover {
    background-color: rgb(119, 140, 163);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(44, 58, 71);
}